# Workflow derived from https://github.com/r-lib/actions/tree/master/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  workflow_dispatch:

name: Stanfunctions Support

jobs:
  stanfunctions-support:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-latest,   r: 'devel', http-user-agent: 'release'}
          - {os: ubuntu-latest,   r: 'release'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v6

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: false
          extra-repositories: 'https://stan-dev.r-universe.dev'

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: local::. rcmdcheck BH RcppParallel RcppEigen Rcpp RCurl remotes V8

      - name: Checkout lgpr package
        run: |
          git clone https://github.com/jtimonen/lgpr

      - name: Check against CRAN StanHeaders and CRAN RStan
        run: |
          cran <- "https://packagemanager.posit.co/cran/latest"
          install.packages(c("StanHeaders", "rstan"), repos = cran)
          rcmdcheck::rcmdcheck(path = "lgpr", args = c("--no-manual", "--as-cran"), build_args = "--no-manual")
        shell: Rscript {0}

      - name: Install Development StanHeaders and CRAN RStan
        run: |
          Sys.setenv(MAKEFLAGS=paste0("-j",parallel::detectCores()))
          stan_universe <- "https://stan-dev.r-universe.dev"
          cran <- "https://packagemanager.posit.co/cran/latest"
          install.packages("StanHeaders", repos = stan_universe)
          install.packages("rstan", repos = cran, type = "source")
        shell: Rscript {0}

      - name: Check against Development StanHeaders and CRAN RStan
        run: |
          rcmdcheck::rcmdcheck(path = "lgpr", args = c("--no-manual", "--as-cran"), build_args = "--no-manual")
        shell: Rscript {0}

      - name: Install Development StanHeaders and Development RStan
        run: |
          Sys.setenv(MAKEFLAGS=paste0("-j",parallel::detectCores()))
          stan_universe <- "https://stan-dev.r-universe.dev"
          install.packages(c("StanHeaders", "rstan"), repos = stan_universe)
        shell: Rscript {0}

      - name: Check against Development StanHeaders and Development RStan
        run: |
          rcmdcheck::rcmdcheck(path = "lgpr", args = c("--no-manual", "--as-cran"), build_args = "--no-manual")
        shell: Rscript {0}
